
<form #alumnoform = "ngForm" (ngSubmit)="agregarAlumno()">
  <ion-label>Nombre del alumno</ion-label>
  <ion-input required [(ngModel)] = "alumno.nombre" name="nombre"></ion-input>
  <ion-label>
    <ion-checkbox required [(ngModel)] = "alumno.presente" name="presente" ></ion-checkbox>
  </ion-label>
  <div>
    <ion-button type="submit">Agregar</ion-button>
  </div>
</form>

<div>
  <ion-list>
    <ion-item-sliding *ngFor="let alumno of alumnos; index as i">
      <ion-item-options side="start">
        <ion-item-option>
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" id="button-{{i}}">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    <ion-item lines="inset">
      {{alumno.nombre}}
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" id="boton-{{i}}">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-action-sheet trigger="boton-{{i}}" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
    <ion-action-sheet trigger="button-{{i}}" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
  </ion-item-sliding>

  </ion-list> 
</div>